DEBUG=0
SECRET_KEY=^jk(e40@k!wo&xfi&8bi%75ohnx=n0qp7xha7f2vdo^l&%b2xp
DJANGO_ALLOWED_HOSTS=54.166.180.113 localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=poll_project_prod
SQL_USER=poll_project_user
SQL_PASSWORD=poll_password_prod
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres